In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import matplotlib.pyplot as plt

In [5]:
import seaborn as sns

In [6]:
import pandas_profiling

In [7]:
b = pd.read_csv("https://raw.githubusercontent.com/mujahid2580/Data-Sets-For-Machine-Learnig-and-Data-Science/master/DataSets/births.csv")

In [8]:
b

       year  month  day gender  births
0      1969      1  1.0      F    4046
1      1969      1  1.0      M    4440
2      1969      1  2.0      F    4454
3      1969      1  2.0      M    4548
4      1969      1  3.0      F    4548
...     ...    ...  ...    ...     ...
15542  2008     10  NaN      M  183219
15543  2008     11  NaN      F  158939
15544  2008     11  NaN      M  165468
15545  2008     12  NaN      F  173215
15546  2008     12  NaN      M  181235

[15547 rows x 5 columns]

In [9]:
b.groupby('month','day').sum()

ValueError: No axis named day for object type <class 'pandas.core.frame.DataFrame'>

In [10]:
b.head()

   year  month  day gender  births
0  1969      1  1.0      F    4046
1  1969      1  1.0      M    4440
2  1969      1  2.0      F    4454
3  1969      1  2.0      M    4548
4  1969      1  3.0      F    4548

In [11]:
b.tail()

       year  month  day gender  births
15542  2008     10  NaN      M  183219
15543  2008     11  NaN      F  158939
15544  2008     11  NaN      M  165468
15545  2008     12  NaN      F  173215
15546  2008     12  NaN      M  181235

In [ ]:
b.describe()

In [ ]:
b.info()

In [ ]:
b.columns

In [ ]:
b.isna().sum()

In [ ]:
b[b['day'].isnull()]

In [ ]:
b.isna().describe()

In [ ]:
b.iloc[2]

In [ ]:
b.loc[4]

In [ ]:
b.loc[[1,3,5]]

In [ ]:
b.query("year==2008")

In [ ]:
b.loc[b['day'].isnull(),'day'].unique()

In [ ]:
b.groupby('day')[['month']].sum()
b.isna().sum()

In [ ]:
a=b.select_dtypes(include=['float'])
a

In [ ]:
b.query('year==1989')

In [ ]:
pandas_profiling.ProfileReport(b)

In [ ]:
b.mad()

In [ ]:
b.std()

In [ ]:
b.mean()

In [ ]:
b.agg(['min','max','mean','median','var','count','first','last','prod','std'])

In [ ]:
b.groupby('gender')[['day']].aggregate('sum').unstack()

In [ ]:
b.pivot_table('day',columns='gender')

In [ ]:
a=pd.MultiIndex.from_frame(b)

In [ ]:
a

In [ ]:
b.unstack()

In [ ]:
b.dropna().describe()

In [ ]:
b.groupby('day').sum()

In [ ]:
b.groupby('day').aggregate(['min',np.median,max])

In [ ]:
b.groupby('day').aggregate({'year':'min',
                            'births':'max'})

In [ ]:
b['decade']=10*(b['year'] // 10)
b

In [ ]:
b.pivot_table('births',index='decade',columns='gender',aggfunc='sum')

In [ ]:
b.pivot_table('births',index='year',columns='gender',aggfunc='sum').plot()

In [ ]:
plt.figure(figsize=(20,9))
b.pivot_table('births',index='decade',columns='gender',aggfunc='sum').plot()
plt.ylabel("total no of births")

In [ ]:
b.pivot_table('births',index='decade',columns='gender',aggfunc='max').plot()

In [ ]:
b.pivot_table('births',index='decade',columns='gender',aggfunc='mean').plot()

In [ ]:
x = np.arange(1,9)
x

In [ ]:
plt.boxplot(x)

In [ ]:
quartiles = np.percentile(x,25,interpolation='midpoint') # 25% only takes odd numbers
quartiles

In [ ]:
quartiles = np.percentile(x,75,interpolation='linear') # 75% only takes even numbers\
quartiles

In [ ]:
b['births'].median()

In [ ]:
quartiles = np.percentile(b['births'],[25,50,75])
quartiles

In [ ]:
mu = quartiles[1] # here 1 index of quartiles
mu

In [ ]:
sig = 0.74 * (quartiles[2]-quartiles[0]) # 
sig

In [ ]:
births = b.query('(births > @mu - 5 * @sig & births < @mu +5 * @sig)')  #variable> m-a*sigma ,variable< m+a*sigma
births

In [ ]:
births['day']= births['day'].astype(int)

In [ ]:
births.head()

In [ ]:
births.isnull().describe()

In [ ]:
births.isna().sum()

In [ ]:
# create a datetime index from the year month and day
births.index = pd.to_datetime(10000*births.year +
                          100*births.month +
                          births.day,format='%Y%m%d')
births['day_of_the_week']= births.index.dayofweek
births

In [ ]:
# gca is used to set the xlabel 
births.pivot_table('births',index='day_of_the_week',
                    columns='decade',aggfunc='mean').plot()
plt.gca().set_xticklabels(['mon','tue','wed','thur','fri','sat','sun']) #generally x axis will plot from 0 t0 --
plt.ylabel('mean births by day')  # if we give gca it display the string or number which was given by us

In [ ]:
births_by_date = births.pivot_table('births',
                                   [births.index.month,births.index.day])
births_by_date

In [ ]:
# for particular year
births_by_date.index = [pd.datetime(2012, month ,day)
                       for (month,day) in births_by_date.index]
births_by_date.head()

In [ ]:
births_by_date.tail()

In [ ]:
fig, ax = plt.subplots(figsize=(20,9))
births_by_date.plot(ax=ax)   # here ax is axis