In [93]:
! pip install pandas-datareader

Requirement already satisfied: pandas-datareader in c:\users\lenovo\appdata\local\programs\python\python37\lib\site-packages (0.8.1)
Requirement already satisfied: requests>=2.3.0 in c:\users\lenovo\appdata\local\programs\python\python37\lib\site-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: lxml in c:\users\lenovo\appdata\local\programs\python\python37\lib\site-packages (from pandas-datareader) (4.5.0)
Requirement already satisfied: pandas>=0.21 in c:\users\lenovo\appdata\local\programs\python\python37\lib\site-packages (from pandas-datareader) (0.25.3)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\lenovo\appdata\local\programs\python\python37\lib\site-packages (from requests>=2.3.0->pandas-datareader) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\lenovo\appdata\local\programs\python\python37\lib\site-packages (from requests>=2.3.0->pandas-datareader) (1.25.8)
Requirement already satisfied: idna<3,>=2.5 in c:\users\lenovo\appdata\local\programs\python\python37\lib\site-packages (from requests>=2.3.0->pandas-datareader) (2.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\appdata\local\programs\python\python37\lib\site-packages (from requests>=2.3.0->pandas-datareader) (2019.11.28)
Requirement already satisfied: pytz>=2017.2 in c:\users\lenovo\appdata\local\programs\python\python37\lib\site-packages (from pandas>=0.21->pandas-datareader) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in c:\users\lenovo\appdata\local\programs\python\python37\lib\site-packages (from pandas>=0.21->pandas-datareader) (1.18.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\lenovo\appdata\local\programs\python\python37\lib\site-packages (from pandas>=0.21->pandas-datareader) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\local\programs\python\python37\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.21->pandas-datareader) (1.13.0)

In [94]:
import pandas as pd

In [95]:
import numpy as np

In [96]:
import seaborn as sns

In [97]:
import matplotlib.pyplot as plt

In [98]:
import pandas_profiling

# Time series are of three types 
# 1.Trending time series
# 2. Seasonal time series
# 3. Rediculous time series

In [99]:
from datetime import datetime
datetime(year=2020, month=3,day=27)

datetime.datetime(2020, 3, 27, 0, 0)

In [100]:
from dateutil import parser
date= parser.parse("27th of nov, 2020")
date

datetime.datetime(2020, 11, 27, 0, 0)

In [101]:
parser.parse("11/3/2020")

datetime.datetime(2020, 11, 3, 0, 0)

In [102]:
parser.parse("20-12-2020")

datetime.datetime(2020, 12, 20, 0, 0)

In [103]:
parser.parse("12-11-2020")

datetime.datetime(2020, 12, 11, 0, 0)

# To convert str from time we use strftime

In [104]:
date.strftime('%d')

'27'

In [105]:
date.strftime('%A')

'Friday'

In [106]:
date.strftime('%a')

'Fri'

In [107]:
date.strftime('%T')

'00:00:00'

In [108]:
date.strftime('%c')

'Fri Nov 27 00:00:00 2020'

# how to create time series using numpy

In [109]:
date= np.array('2020-11-19',dtype=np.datetime64)
date

array('2020-11-19', dtype='datetime64[D]')

In [110]:
date+np.arange(12)

array(['2020-11-19', '2020-11-20', '2020-11-21', '2020-11-22',
       '2020-11-23', '2020-11-24', '2020-11-25', '2020-11-26',
       '2020-11-27', '2020-11-28', '2020-11-29', '2020-11-30'],
      dtype='datetime64[D]')

In [119]:
np.datetime64('2019-02-19')

numpy.datetime64('2019-02-19')

In [120]:
np.datetime64("2019-02-19 03:02:00")

numpy.datetime64('2019-02-19T03:02:00')

In [118]:
np.datetime64('2019-02-19 01:30:49.50','ns')

numpy.datetime64('2019-02-19T01:30:49.500000000')

# using pandas

In [121]:
date = pd.to_datetime('20th of july, 2020')
date

Timestamp('2020-07-20 00:00:00')

In [ ]:
date.strftime('%A'),date.strftime('%a')

In [122]:
date.strftime('%d'),date.strftime('%D')

('20', '07/20/20')

In [123]:
date.strftime('%T')

'00:00:00'

In [124]:
date.strftime('%w'),date.strftime('%W')

('1', '29')

In [125]:
date.strftime('%c')

'Mon Jul 20 00:00:00 2020'

In [126]:
date + pd.to_timedelta(np.arange(12), 'd')

DatetimeIndex(['2020-07-20', '2020-07-21', '2020-07-22', '2020-07-23',
               '2020-07-24', '2020-07-25', '2020-07-26', '2020-07-27',
               '2020-07-28', '2020-07-29', '2020-07-30', '2020-07-31'],
              dtype='datetime64[ns]', freq=None)

In [127]:
date + pd.to_timedelta(np.arange(12), 'w')   # here w represents for weeks

DatetimeIndex(['2020-07-20', '2020-07-27', '2020-08-03', '2020-08-10',
               '2020-08-17', '2020-08-24', '2020-08-31', '2020-09-07',
               '2020-09-14', '2020-09-21', '2020-09-28', '2020-10-05'],
              dtype='datetime64[ns]', freq=None)

# indexing or slicy using in series

In [128]:
Date = pd.Series(date)
Date

0   2020-07-20
dtype: datetime64[ns]

In [129]:
index = pd.DatetimeIndex(['2014-07-01','2014-08-04',
                         '2015-07-04','2015-08-04',])
data = pd.Series(['raju','rani','ram','ravi'], index=index)
data

2014-07-01    raju
2014-08-04    rani
2015-07-04     ram
2015-08-04    ravi
dtype: object

In [ ]:
data['2014-07-01':'2015-08-04']

In [130]:
data['2015']

2015-07-04     ram
2015-08-04    ravi
dtype: object

In [131]:
dates = pd.to_datetime([datetime(2015,7,3), '4th of july,2015','27-8-2019','2019/11/23','12-2-2019'])
dates

DatetimeIndex(['2015-07-03', '2015-07-04', '2019-08-27', '2019-11-23',
               '2019-12-02'],
              dtype='datetime64[ns]', freq=None)

In [132]:
dates.to_period('d')

PeriodIndex(['2015-07-03', '2015-07-04', '2019-08-27', '2019-11-23',
             '2019-12-02'],
            dtype='period[D]', freq='D')

In [133]:
dates.to_period('w')

PeriodIndex(['2015-06-29/2015-07-05', '2015-06-29/2015-07-05',
             '2019-08-26/2019-09-01', '2019-11-18/2019-11-24',
             '2019-12-02/2019-12-08'],
            dtype='period[W-SUN]', freq='W-SUN')

In [134]:
dates

DatetimeIndex(['2015-07-03', '2015-07-04', '2019-08-27', '2019-11-23',
               '2019-12-02'],
              dtype='datetime64[ns]', freq=None)

In [135]:
dates[0]

Timestamp('2015-07-03 00:00:00')

In [136]:
dates-dates[0]   # to know how many days are in between dates[0]

TimedeltaIndex(['0 days', '1 days', '1516 days', '1604 days', '1613 days'], dtype='timedelta64[ns]', freq=None)

In [137]:
pd.date_range('2019-1-27','2020-11-27')

DatetimeIndex(['2019-01-27', '2019-01-28', '2019-01-29', '2019-01-30',
               '2019-01-31', '2019-02-01', '2019-02-02', '2019-02-03',
               '2019-02-04', '2019-02-05',
               ...
               '2020-11-18', '2020-11-19', '2020-11-20', '2020-11-21',
               '2020-11-22', '2020-11-23', '2020-11-24', '2020-11-25',
               '2020-11-26', '2020-11-27'],
              dtype='datetime64[ns]', length=671, freq='D')

In [ ]:
pd.date_range('2019-11-27',periods=5)

# frequency offset address

In [138]:
pd.date_range('2015-07-03',periods=8,freq='H')

DatetimeIndex(['2015-07-03 00:00:00', '2015-07-03 01:00:00',
               '2015-07-03 02:00:00', '2015-07-03 03:00:00',
               '2015-07-03 04:00:00', '2015-07-03 05:00:00',
               '2015-07-03 06:00:00', '2015-07-03 07:00:00'],
              dtype='datetime64[ns]', freq='H')

In [139]:
pd.date_range('2019-11-27',periods=8,freq='T')

DatetimeIndex(['2019-11-27 00:00:00', '2019-11-27 00:01:00',
               '2019-11-27 00:02:00', '2019-11-27 00:03:00',
               '2019-11-27 00:04:00', '2019-11-27 00:05:00',
               '2019-11-27 00:06:00', '2019-11-27 00:07:00'],
              dtype='datetime64[ns]', freq='T')

In [140]:
pd.date_range('2019-11-27',periods=8,freq='t')

DatetimeIndex(['2019-11-27 00:00:00', '2019-11-27 00:01:00',
               '2019-11-27 00:02:00', '2019-11-27 00:03:00',
               '2019-11-27 00:04:00', '2019-11-27 00:05:00',
               '2019-11-27 00:06:00', '2019-11-27 00:07:00'],
              dtype='datetime64[ns]', freq='T')

In [141]:
pd.date_range('2019-11-27',periods=8,freq='s')

DatetimeIndex(['2019-11-27 00:00:00', '2019-11-27 00:00:01',
               '2019-11-27 00:00:02', '2019-11-27 00:00:03',
               '2019-11-27 00:00:04', '2019-11-27 00:00:05',
               '2019-11-27 00:00:06', '2019-11-27 00:00:07'],
              dtype='datetime64[ns]', freq='S')

In [142]:
pd.period_range('2019-11-27',periods=8,freq='M')

PeriodIndex(['2019-11', '2019-12', '2020-01', '2020-02', '2020-03', '2020-04',
             '2020-05', '2020-06'],
            dtype='period[M]', freq='M')

In [143]:
pd.date_range('2019-11-27',periods=8,freq='M')

DatetimeIndex(['2019-11-30', '2019-12-31', '2020-01-31', '2020-02-29',
               '2020-03-31', '2020-04-30', '2020-05-31', '2020-06-30'],
              dtype='datetime64[ns]', freq='M')

In [147]:
pd.timedelta_range(0,periods=8,freq='H')

TimedeltaIndex(['00:00:00', '01:00:00', '02:00:00', '03:00:00', '04:00:00',
                '05:00:00', '06:00:00', '07:00:00'],
               dtype='timedelta64[ns]', freq='H')

In [146]:
pd.timedelta_range(0,periods=8,freq='T')

TimedeltaIndex(['00:00:00', '00:01:00', '00:02:00', '00:03:00', '00:04:00',
                '00:05:00', '00:06:00', '00:07:00'],
               dtype='timedelta64[ns]', freq='T')

In [145]:
pd.timedelta_range(0,periods=8,freq='S')

TimedeltaIndex(['00:00:00', '00:00:01', '00:00:02', '00:00:03', '00:00:04',
                '00:00:05', '00:00:06', '00:00:07'],
               dtype='timedelta64[ns]', freq='S')

In [144]:
pd.timedelta_range(0,periods=8,freq='D')

TimedeltaIndex(['0 days', '1 days', '2 days', '3 days', '4 days', '5 days',
                '6 days', '7 days'],
               dtype='timedelta64[ns]', freq='D')

# pd.offsets.     is used to get all offsets

In [148]:
pd.timedelta_range(0,periods=9,freq="2H30T")

TimedeltaIndex(['00:00:00', '02:30:00', '05:00:00', '07:30:00', '10:00:00',
                '12:30:00', '15:00:00', '17:30:00', '20:00:00'],
               dtype='timedelta64[ns]', freq='150T')

In [149]:
pd.timedelta_range(0,periods=9,freq="2H23T30s")

TimedeltaIndex(['00:00:00', '02:23:30', '04:47:00', '07:10:30', '09:34:00',
                '11:57:30', '14:21:00', '16:44:30', '19:08:00'],
               dtype='timedelta64[ns]', freq='8610S')

In [150]:
from pandas.tseries.offsets import BDay
pd.date_range('2020-03-1', periods=8,freq=BDay())

DatetimeIndex(['2020-03-02', '2020-03-03', '2020-03-04', '2020-03-05',
               '2020-03-06', '2020-03-09', '2020-03-10', '2020-03-11'],
              dtype='datetime64[ns]', freq='B')

In [151]:
import time
a= time.localtime(time.time())

In [152]:
a

time.struct_time(tm_year=2020, tm_mon=3, tm_mday=10, tm_hour=19, tm_min=50, tm_sec=50, tm_wday=1, tm_yday=70, tm_isdst=0)

In [157]:
import calendar

In [169]:
cal = calendar.month(1997,1)
print(cal)

    January 1997
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [178]:
import calendar
cal= calendar.calendar(5000)
print(cal)

                                  5000

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31